---
language: node_js

node_js:
  - "6"

sudo: false

install:
  - npm install

script:
  - npm run prodBuild

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: dist
  verbose: true
